html {
  cursor: url(assets/cursor.png), auto;
  overflow-x: hidden;
  font-family: 'Crimson Text', serif;
}

.hidden {
  display: none;
}

button {
  cursor: url(assets/cursorHover.png), auto !important;
}

html::-webkit-scrollbar-track {
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.3) !important;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3) !important;
}

html::-webkit-scrollbar {
  width: 1em !important;
  background-color: #f5f5f5 !important;
}

html::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.1, #ffe4fd),
    color-stop(0.5, #f049ff),
    color-stop(0.7, #c156ff)
  ) !important;
  cursor: url(assets/cursorHover.png), auto !important;
}

div::-webkit-scrollbar-track {
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.3) !important;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3) !important;
}

div::-webkit-scrollbar {
  width: 1em !important;
  background-color: #f5f5f5 !important;
}

div::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.1, #ffe4fd),
    color-stop(0.5, #f049ff),
    color-stop(0.7, #c156ff)
  ) !important;
}

.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  right: 36px;
  top: 36px;
}

.bm-burger-bars {
  background: #373a47;
  border-radius: 10%;
  height: 3px !important;
}

.bm-burger-bars-hover {
  background: #a90000;
}

nav.bm-item-list {
  background: #e48fc2;
  display: flex;
  flex-direction: column;
  height: 450px !important;
  width: 475px !important;
  margin-top: -50px;
  overflow-y: hidden !important;
  border-radius: 50%;
}

.bm-menu-wrap {
  position: fixed;
  height: 100%;
}

.bm-menu {
  background: rbg(0, 0, 0, 0);
  padding: 2em 1em 2em;
  font-size: 1.15em;
  text-transform: uppercase;
  height: 400px !important;
}

.bm-morph-shape {
  fill: white;
  height: 400px !important;
  opacity: 0 !important;
}

.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

.bm-item {
  display: inline-block;
  margin-left: 100px !important;
  margin-top: 10px !important;
}

.bm-item a:hover {
  background: rgb(0, 0, 0, 0) !important;
  font-family: 'Dancing Script', cursive;
  text-transform: lowercase;
  cursor: url(assets/cursorHover.png), auto !important;
}

.bm-item:focus {
  border: none;
  outline: 0;
}

.bm-overlay {
  background: #e48fc2;
}

.contactHoverMenu {
  display: block;
}

#nav {
  display: flex;
  justify-content: flex-start;
  align-content: center;
  cursor: url(assets/cursor.png), auto !important;
}

#nav .navWrapper {
  display: flex;
  justify-content: flex-start;
}

#logo {
  display: flex;
  flex-direction: column;
  margin-left: -55px;
}

#name {
  max-width: 16rem;
  margin-top: 0.5rem;
}

#definition {
  height: 2.5rem !important;
  width: 37rem;
  margin: 0 !important;
}

a {
  cursor: url(assets/cursorHover.png), auto;
}

#nav a {
  color: black;
  cursor: url(assets/cursorHover.png), auto;
}

p {
  text-align: justify;
  font-family: 'Crimson Text', serif;
  font-size: 18px;
}

p a {
  color: #db2b95;
}

a:hover {
  color: #a0236d;
}

p.title {
  font-family: 'Dancing Script', cursive;
  font-size: 30px;
}

.title {
  font-family: 'Dancing Script', cursive;
}

#home-div h1 {
  margin-bottom: -3%;
  margin-top: 0;
}

#home-div {
  overflow: scroll;
  max-width: 40%;
  max-height: 75vh;
  margin-right: 5%;
  margin-top: 5%;
  float: right;
  left: 500px;
  box-shadow: 7px 7px 20px rgb(129, 129, 129);
}

#homeContents {
  padding: 5%;
  padding-bottom: 7%;
}

h3.title {
  margin: auto;
  padding-bottom: 8%;
  padding-right: -2%;
}

#home-div p {
  width: 90%;
  margin: 5%;
}

img.home-img {
  position: fixed;
  max-width: 50%;
  height: auto;
  float: left;
  top: 18%;
  left: 3%;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
}

.contact h1 {
  font-family: 'Dancing Script', cursive;
  font-size: 5rem;
  color: white;
  margin: 0 auto;
  margin-bottom: 10px;
  margin-top: -10px;
}

.contact img {
  height: 40px;
  margin: 5px;
}

#github {
  margin-left: 10px !important;
}

.contact img:hover {
  box-shadow: 0 0 30px white;
}

#emailTip {
  display: none;
}

.hoverLink:hover #emailTip {
  display: block !important;
}

.contact a {
  color: white;
}

.contact a:hover {
  color: rgb(173, 0, 150);
}

.contact-wrapper {
  display: flex;
  margin: 15px;
  margin-top: 100px;
  width: 450px;
  height: 250px;
  align-self: center;
  padding: 20px 20px 20px 20px;
  text-align: center;
  background-color: rgb(228, 143, 194);
  border-radius: 50%;
}

.dropdown {
  padding: 0 10px;
}

.dropdown .dropLink {
  border: none;
  outline: none;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown .dropLink:hover {
  cursor: pointer;
}

.dropdown-content {
  position: absolute;
  /* display: none; */
  display: block;
  border: 4px solid red;
  left: 100px;
  top: 100px;
  background-color: white;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 100;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a {
  float: none;
  color: rgb(243, 102, 102);
  font-size: 9pt;
  padding: 8px 10px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  cursor: pointer;
  background-color: rgb(243, 102, 102);
  color: white;
}
