html {
  cursor: url(assets/cursor.png), auto;
  overflow-x: hidden;
  font-family: 'Crimson Text', serif;
}

button {
  cursor: url(assets/cursorHover.png), auto !important;
}

/* #buttonLocation {
  height: 50px;
  width: 50px;
  position: absolute;
  top: 25px;
  right: 25px;
  border: 1px solid red;
  cursor: url(assets/cursorHover.png), auto !important;
} */

.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  right: 36px;
  top: 36px;
}

.bm-burger-bars {
  background: #373a47;
  border-radius: 10%;
  height: 3px !important;
}

.bm-burger-bars-hover {
  background: #a90000;
}

nav.bm-item-list {
  background: #e48fc2;
  display: flex;
  flex-direction: column;
  height: 380px !important;
  width: 400px !important;
  margin-top: -50px;
  overflow-y: hidden !important;
  border-radius: 50%;
}

.bm-menu-wrap {
  position: fixed;
  height: 100%;
}

.bm-menu {
  background: rbg(0, 0, 0, 0);
  padding: 2em 1em 2em;
  font-size: 1.15em;
  text-transform: uppercase;
  height: 400px !important;
}

.bm-morph-shape {
  fill: white;
  height: 400px !important;
  opacity: 0 !important;
}

.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

.bm-item {
  display: inline-block;
  margin-left: 110px !important;
  margin-top: 10px !important;
}

.bm-item a:hover {
  background: rgb(0, 0, 0, 0) !important;
  font-family: 'Dancing Script', cursive;
  text-transform: lowercase;
  cursor: url(assets/cursorHover.png), auto !important;
}

.bm-item:focus {
  border: none;
  outline: 0;
}

.bm-overlay {
  background: #e48fc2;
}

#nav {
  display: flex;
  justify-content: flex-start;
  align-content: center;
  cursor: url(assets/cursor.png), auto !important;
}

#nav .navWrapper {
  display: flex;
  justify-content: flex-start;
}

#logo {
  display: flex;
  flex-direction: column;
  margin-left: -4rem;
}

#name {
  max-width: 16rem;
  margin-top: 0.5rem;
}

#definition {
  height: 2.5rem !important;
  width: 37rem;
  margin: 0 !important;
}

a {
  cursor: url(assets/cursorHover.png), auto;
}

#nav a {
  color: black;
  cursor: url(assets/cursorHover.png), auto;
}

p {
  text-align: justify;
  font-family: 'Crimson Text', serif;
  font-size: 18px;
}

p a {
  color: #db2b95;
}

a:hover {
  color: #a0236d;
}

p.title {
  font-family: 'Dancing Script', cursive;
  font-size: 30px;
}

.title {
  font-family: 'Dancing Script', cursive;
}

#home-div h1 {
  margin-bottom: -3%;
  margin-top: 0;
}

#home-div {
  overflow: scroll;
  max-width: 40%;
  max-height: 75vh;
  margin-right: 5%;
  margin-top: 5%;
  float: right;
  left: 500px;
  box-shadow: 7px 7px 20px rgb(129, 129, 129);
}

#homeContents {
  padding: 5%;
  padding-bottom: 7%;
}

h3.title {
  margin: auto;
  padding-bottom: 8%;
  padding-right: -2%;
}

#home-div p {
  width: 90%;
  margin: 5%;
}

img.home-img {
  position: fixed;
  max-width: 50%;
  height: auto;
  float: left;
  top: 18%;
  left: 3%;
}
