.nav-container {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-content: center;
  padding: 0 1vw;
}

#logo {
  display: flex;
  flex-direction: column;
}

#name {
  max-width: 16rem;
  margin-top: 0.5rem;
}

#definition {
  height: 2.5rem !important;
  width: 37rem;
  margin: 0 !important;
}

#nav a {
  color: #333;
}